body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
    background-image: url("../images/background.jpg");
}

.headerlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 32px;
}

.headerlogo {
    max-height: 60px;
    width: auto;
    margin: 16px;
}

li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: white;
    padding: 16px;
    color: black;
    border-radius: 16px ;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-top: 128px;
    background-image: url("../images/background.jpg");
}

.body {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 400px;
    height: auto;
}

.catone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1e4f3;
    margin: 0px 400px;
    border-radius: 15px 50px;
    padding: 30px;
    justify-content: space-evenly;
    margin-bottom: 128px;
}

.cowimage {
    border-radius: 15px 50px;
}

.firstgroup {
    max-width: 400px;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 64px;
}

.image {
    max-width: 240px;
    height: 240px;
    border-radius: 800%;
    margin-bottom: 32px;
}

.cattwo {
    display: flex;
    justify-content: space-evenly;   
    margin-bottom: 128px;
    margin-left: 100px;
    margin-right: 100px;
}

.group {
    max-width: 240px;
    height: auto;
    text-align: center;
}

.catthree {
    background-color: #d1e4f3;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 64px;
}



.quote {
    max-width: 800px;
}

.quote.title {
    text-align: center;
}

.quote.attribute {
    font-weight: bold;
    text-align: end;
}

.quote.content {
    font-style: italic;
    text-align: center;
    font-size: xx-large;
}